* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(0, 0, 33);
    font-family: 'Poppins', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

nav {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(117, 97, 227);
    font-size: 1.02rem;
}

main hr {
    border: 0;
    background: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}

.left {
    font-size: 1.5rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0;
}

.firstSection > div {
    width: 30%;
}

.leftSection {
    font-size: 3rem;
}

.leftSection .buttons {
    padding: 50px 0;
}

.leftSection .btn {
    padding: 12px;
    background-color: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}


.rightSection {
    width: 34px;
}

.rightSection img {
    width: 600px;
}

.purple {
    color: blueviolet;
}

#element {
    color: blueviolet;
}

.image-top {
    width: 32px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
}

.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 10px;
}

/* CSS for About Me Section */

.aboutMeSection {
    background-color: rgb(0, 0, 33);
    color: white;
    padding: 20px; /* Adjust padding for smaller screens */
    text-align: center;
}

.aboutMeContent {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap to the next line on smaller screens */
    justify-content: center;
    align-items: center;
}

.aboutMeText {
    width: 100%; /* Take full width on smaller screens */
    text-align: center;
    padding: 20px; /* Adjust padding for smaller screens */
}

.profile-pic {
    width: 100%; /* Take full width on smaller screens */
    text-align: center;
    padding: 20px; /* Adjust padding for smaller screens */
}

.profile-pic img {
    width: 100%; /* Adjust image width for smaller screens */
    border-radius: 50%; /* Adjust border-radius for circular image */
}

.aboutMeSection h1 {
    font-size: 30px; /* Adjust font size for smaller screens */
    margin-bottom: 10px; /* Add some margin at the bottom */
}

.aboutMeText p {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
    width: 100%;
    margin: 0; /* Remove default margin */
}

.purple {
    color: blueviolet;
}
/* CSS for Skills Section */

.skillsSection {
    margin-top: 40px;
    text-align: left; /* Align text to the left */
}


.skillsSection ul {
    list-style: none; /* Remove default bullet points */
    text-align: center;

}

.skillCategory {
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px; /* Add spacing between category and skills */
}

.skillsSection li {
    margin: 10px 0; /* Add spacing between each skill category */
    font-size: 18px;
    line-height: 1.5;
}




/* Add more styles as needed */


/* Work Section */

.workSection {
    margin-top: 60px;
    text-align: center;
}

.workSection h1 {
    font-size: 40px;
    padding: 20px 0;
}

.workExperience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experienceItem {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    max-width: 300px;
}

.experienceItem img {
    width: 300px;
    height: 250px;
    margin-bottom: 10px;
}

.experienceDetails h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px 0;
}

.experienceDetails p {
    margin: 10px 0;
}

.experienceDetails ul {
    margin: 0;
    padding-left: 20px;
    font-size: 16px;
}

.experienceDetails a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(211, 206, 149);
}

.date-box {
    background-color: rgb(47, 39, 64);
    opacity: 1.5;
    color: white;
    border-radius: 45px;
    padding: 0px 10px;
    display: inline-block;
}




/* Projects Section */

.projectsSection {
    margin-top: 60px;
    text-align: center;
}

.projectsSection h1 {
    font-size: 40px;
    padding: 20px 0;
}

.projectCategory {
    margin-top: 40px;
}

.projectCategory h2 {
    font-size: 24px;
    padding: 10px 0;
}

.projectsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectItem {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    max-width: 350px;
}

.projectItem img {
    width: 350px;
    height: 180px;
    margin-bottom: 10px;
}

.projectDetails h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 10px 0;
}

.projectDetails p {
    margin: 10px 0;
}

.projectDetails a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(211, 206, 149);
}

.technologiesUsed {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.techBox {
    background-color: #1e2167;
    color: white;
    padding: 6px 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
    font-size: 12px;
}


.githubLink {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
}

/* Coding Profiles Section */
.codingProfiles {
    text-align: center;
    margin-top: 60px;
    padding: 20px;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.codingProfiles h1 {
    font-size: 36px;
    margin-bottom: 20px;
    width: 100%;
}

.profileItem {
    margin: 15px;
    display: flex;
    align-items: center;
    flex-basis: calc(50% - 30px); /* Adjust width for three items on each side */
    justify-content: center; /* Center items horizontally */
}

.profileItem:hover {
    font-size: 18px;
}

.profileItem img {
    width: 30px;
}

.profileIcon {
    font-size: 24px;
    margin-right: 10px;
    color: #d3ce95;
}

.profileLink {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.profileLink:hover {
    color: #75e3e3;
    transition: color 0.3s;
}

/* Fixed Icons Contact */
.fixed-icons {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border-top-right-radius: 5px;
}

.fixed-icons a {
    color: white;
    text-decoration: none;
    font-size: 32px;
    margin: 5px;
}

.fixed-icons a:hover {
    color: #75e3e3;
    transform: scale(1.2); 
}


/* Footer */
 footer {
    background-color: #0e0e1a;
}

.footer {
    display: flex;
    padding: 23px 10px;
    justify-content: center;
    flex-wrap: wrap;
}

footer .footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}


/* Add responsive styles for tablets */
@media screen and (max-width: 768px) {
    .firstSection {
        flex-direction: column;
        text-align: center;
    }

    .firstSection > div {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .rightSection img {
        width: 100%;
        height: auto;
    }

    .leftSection {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .leftSection .buttons {
        padding: 20px 0;
    }
    

    .date-box {
        font-size: 0.8rem;
    }

    .experienceItem {
        max-width: 100%;
    }

    nav {
        flex-direction: column;
        height: auto;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 15px 0;
    }
    .profileItem {
        flex-basis: calc(50% - 20px); /* Adjust width for two items on each side */
    }
    .fixed-icons {
        flex-direction: row;
        justify-content: flex-start;
        bottom: 10px;
        left: 10px;
        padding: 5px;
    }

    .fixed-icons a {
        font-size: 18px;
        margin: 0 10px;
    }
}

/* Add responsive styles for smaller screens (e.g., smartphones) */
@media screen and (max-width: 480px) {
    .leftSection {
        font-size: 1.5rem;
    }

    .experienceDetails h2 {
        font-size: 1.2rem;
    }

    .experienceDetails p {
        font-size: 1rem;
    }

    .experienceDetails ul {
        font-size: 0.9rem;
    }
    .profileItem {
        flex-basis: 100%; /* Full width for one item per row */
    }
}
